In [1]:
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
import numpy as np
import re

import openpyxl

In [60]:
df = pd.read_csv('ESG-Frameworks/Mapping-Standards/SDG-GRI-DF.csv')
df = df.drop(['Unnamed: 0'], axis=1)
# df = df.replace(np.nan, '', regex=True)
df = df.drop(['Available Business Disclosures'], axis=1)
df.head(3)

  Target Disclosure             Source
0    1.1      207-1  GRI 207: Tax 2019
1    NaN        NaN                NaN
2    NaN        NaN                NaN
3    NaN        NaN                NaN
4    NaN        NaN                NaN
5    NaN        NaN                NaN
6    NaN        NaN                NaN
7    1.1      207-2  GRI 207: Tax 2019
8    NaN        NaN                NaN
9    NaN        NaN                NaN

In [61]:
df = df.dropna()

In [62]:
df = df.drop(labels = 'Target',axis = 1).groupby(df['Target'].mask(df['Target']==' ').ffill()).agg(', '.join).reset_index()

In [64]:
df.to_csv('ESG-Frameworks/Mapping-Standards/SDG-GRI/SDG-GRI.csv')

# GRI-SDG

In [66]:
df = pd.read_csv('ESG-Frameworks/Mapping-Standards/SDG-GRI-DF.csv')
df = df.drop(['Unnamed: 0'], axis=1)
# df = df.replace(np.nan, '', regex=True)
df = df.drop(['Available Business Disclosures'], axis=1)
df = df.dropna()
df.head(10)

   Target Disclosure                    Source
0     1.1      207-1         GRI 207: Tax 2019
7     1.1      207-2         GRI 207: Tax 2019
17    1.1      207-3         GRI 207: Tax 2019
23    1.1      207-4         GRI 207: Tax 2019
39    1.2      202-1  GRI 202: Market Presence
49    1.2      203-2         GRI 203: Indirect
53    1.3      207-1         GRI 207: Tax 2019
60    1.3      207-2         GRI 207: Tax 2019
70    1.3      207-3         GRI 207: Tax 2019
76    1.3      207-4         GRI 207: Tax 2019

In [67]:
df.to_csv('ESG-Frameworks/Mapping-Standards/SDG-GRI/GRI-SDG.csv')