In [1]:
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
import numpy as np
import re

import openpyxl

In [39]:
df = pd.read_csv('ESG-Frameworks/Mapping-Standards/SDG-GRI.csv')
df = df.drop(['Unnamed: 0'], axis=1)
# df = df.replace(np.nan, '', regex=True)
df = df.drop(['Available Business Disclosures'], axis=1)
df.head(10)

  Target Disclosure             Source
0    1.1      207-1  GRI 207: Tax 2019
1    NaN        NaN                NaN
2    NaN        NaN                NaN
3    NaN        NaN                NaN
4    NaN        NaN                NaN
5    NaN        NaN                NaN
6    NaN        NaN                NaN
7    1.1      207-2  GRI 207: Tax 2019
8    NaN        NaN                NaN
9    NaN        NaN                NaN

In [40]:
df = df.dropna()

In [41]:
df = df.drop(labels = 'Target',axis = 1).groupby(df['Target'].mask(df['Target']==',').ffill()).agg(' '.join).reset_index()

In [43]:
df.to_csv('ESG-Frameworks/Mapping-Standards/SDG-GRI#3.csv')

In [35]:
df

     Target  Disclosure                     Source
0       1.1       207-1          GRI 207: Tax 2019
7       1.1       207-2          GRI 207: Tax 2019
17      1.1       207-3          GRI 207: Tax 2019
23      1.1       207-4          GRI 207: Tax 2019
39      1.2       202-1   GRI 202: Market Presence
...     ...         ...                        ...
2252   16.1        EO12  G4 Sector Disclosure 2012
2253   17.7        EO13  G4 Sector Disclosure 2012
2254   17.7      Former  G4 Sector Disclosure 2010
2256   17.7  Former EU8  G4 Sector Disclosure 2009
2258   17.7         OG2  G4 Sector Disclosure 2012

[609 rows x 3 columns]